@import url('https://fonts.googleapis.com/css?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.contenthome {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin-bottom: 50px;
}

.contentform {
    background-color: #DFBEBE;
    height: 100%;
}

.box {
    background-color: #DFBEBE;
    margin-top: 25px;
    margin-bottom: 5px;
    padding: 15px;
}


.magnify {
    transition: transform .3s;
}

h1 {
    font-family: 'Days One', sans-serif;
}

h3 {
    font-family: 'Days One', sans-serif;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.green1 {
    color: #AEC8C2;
}

.green2 {
    color: #7D9A93;
}

.green3 {
    color: #61897F;
}

.grey {
    color: #B6B6B6;
}

.red {
    color: #C17474;
}

.redbig {
    color: #C17474;
    font-size: 50px;
}

.white {
    color: white;
}


.footer {
    padding: 15px;
    align-self: flex-end;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #AEC8C2;
    color: white;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
  }

/* screen size is 601px wide or more */
@media screen and (min-width: 600px) {
    .container {
        max-width: 500px;
    }
    .magnify:hover {
        transform: scale(1.05);
    }
    h1 {
        font-size: 30px;
    }
  }
  
  /* screen size is 600px wide or less */
  @media screen and (max-width: 600px) {
    .container {
        max-width: 350px;
    }
    .contenthome {
        font-size: 3.4vw;
        text-align: left;
    }
    h1 {
        font-size: 5vw;
    }
    h3 {
        font-size: 4vw;
    }
    .redbig {
        color: #C17474;
        font-size: 35px;
    }
    .footer p {
        font-size: 2vw;
      }
  }