{% extends "base.html" %}
{% load static %}
{% block meta %}
  <title>CROWD-VID | KRITIK & SARAN</title>
{% endblock meta %}
{% block content %}

<div class="container contentform">
    <div class="container">
        <br>
        <h1 class="green3">Kritik & Saran</h1><br>
        {% if user.is_authenticated %}

            <form class="site-form" action="" method="POST">
                <div class="green3">
                    {% csrf_token %}
                    {{ form }}
                </div>
                <div class = "centre-items" style = "margin-top: 2%">
                    <input type = "submit" class="btn center ma" style="color: white;" value="SELESAI"> 
                </div>
            </form><br>
        {% else %}
            <p> maaf, anda harus login terlebih dahulu sebelum menggunakan fitur ini</p>
            <p><a href="{% url 'main:login' %}">Klik di sini untuk login</a></p>
            <br>

        {% endif %}

    </div>
</div>

{% endblock content %}