{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>CROWDVID | Log In</title>
{% endblock meta %}

{% block style %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}
<div class="container contentform">
    <div class="container">
        <br>
        <form action="{% url 'main:login' %}" method="post">
            {% csrf_token %}
            <div class="form-container">
                <h1 class="green3">Log in</h2>   <br>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" name="username" id="username">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" name="password" id="password">
                </div> <br>
                <input type = "submit" class="btn center ma" style="color: white;" value="LOG IN">
            {% if success == False %}
            <p style="color: red;">The credentials you are using are invalid</p>
            {% endif %}
            <p></p>
            <p>Don't have an account yet? <a href="{% url 'main:signup' %}">Sign Up</a></p>
            </div>
            <br>
        </form>
    </div>
</div>


{% endblock content %}