{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>CROWDVID | Log In</title>
{% endblock meta %}

{% block style %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}
<div class="container contentform">
    <div class="container">
        <br>
        <form action="{% url 'main:signup' %}" method="post">
            {% csrf_token %}
            <div class="form-container">
                <br>
                <h1 class="green3">Create Account</h2>  
                <br> 
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" name="username" id="username"><br>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-at"></i></span>
                    </div>
                    <input type="email" class="form-control" placeholder="E-mail" name="email" id="email"><br>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" name="password" id="password"><br>
                </div>
                <br>
                <input type = "submit" class="btn center ma" style="color: white;" value="SIGN UP">

                <p></p>
                <p>Already have an account? <a href="{% url 'main:login' %}">Log in</a></p>
                <br>
            </div>
        </form>
    </div>
</div>
{% endblock content %}